MONGO_URL=mongodb://localhost/back_bitbloq_db
JWT_SECRET=averyveryverylongandrandompassword
PORT=4000
FRONTEND_URL=http://localhost:8000

# Mailer configuration
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_USER=myuser@gmail.com
MAILER_PASSWORD=mygmailpassword
MAILER_FROM=from_address@domain.com

# GCloud settings
GCLOUD_PROJECT_ID=gcloud
GCLOUD_STORAGE_BUCKET=bitbloq-dev
GOOGLE_APPLICATION_CREDENTIALS=/path/to/google/credentials/json

# Redis settings
REDIS_DOMAIN_NAME=localhost
REDIS_PORT_NUMBER=6379
